.page-header {
	padding-top: 24px;
	background: #eaa986 url("../img/header-back.jpg") top center no-repeat;
}

.page-header__top {
	display: flex;
	justify-content: space-between;
}

.page-header__logo {
	font-family: "Montserrat";
	font-size: 30px;
	font-weight: 700;
	color: $white;
}

.page-header__nav {
	display: flex;
	padding-top: 14px;
}

.page-header__nav-item {
	margin-right: 56px;
	font-size: 14px;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	transition: 0.5s all;

	&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3px;
			background-color: #fce38a;
			opacity: 0;
			transition: 0.5s all;
		}

	&:hover {
		color: #fce38a;

		&::after {
			opacity: 1;
			bottom: -7px;
		}
	}

	&:last-child {
		margin-right: 0;
	}

	&--cart {
		width: 18px;
		height: 15px;
		margin-top: -3px;
		background: url("../img/icon-cart.svg") no-repeat;

		&:hover {
		background: url("../img/icon-cart-hover.svg") no-repeat;

			&::after {
				bottom: -15px;
			}
		}
	}

	&--search {
		width: 18px;
		height: 18px;
		margin-top: -4px;
		background: url("../img/icon-search.svg") no-repeat;

		&:hover {
		background: url("../img/icon-search-hover.svg") no-repeat;

			&::after {
			bottom: -13px;
			}
		}
	}
}

.page-header__subheading {
	@include h2-font;
	margin-top: 164px;
	margin-bottom: 28px;
	text-align: center;
}

.page-header__heading {
	@include h1-font;
	width: 850px;
	margin: 0 auto;
	text-align: center;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 394px;
		bottom: -51px;
		width: 60px;
		height: 3px;
		background-color: #ffffff;
	}
}

.page-header__page-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 157px;
}

.page-header__page-nav-item {
	box-sizing: border-box;
	display: block;
	width: 280px;
	padding-top: 22px;
	padding-bottom: 22px;
	border-top: 3px solid #f7eac4;
	font-size: 18px;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 70px;
		height: 3px;
		background-color: $accent;
		left: 210px;
		top: -3px;
		opacity: 0;
		transition: 1s all;
	}

	&:hover::after {
		left: 0;
		opacity: 1;
	}

	span {
		font-size: 24px;
		font-weight: 700;
	}
}
