.page-header {
	padding-top: 24px;
	background: #eaa986 url("../img/header-back.jpg") top center no-repeat;
}

.page-header__top {
	display: flex;
	justify-content: space-between;
}

.page-header__logo {
	font-family: "Montserrat";
	font-size: 30px;
	font-weight: 700;
	color: $white;
}

.page-header__nav {
	display: flex;
	padding-top: 14px;
}

.page-header__nav-item {
	margin-right: 56px;
	font-size: 14px;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;

	&:last-child {
		margin-right: 0;
	}

	&--cart {
		width: 18px;
		height: 15px;
		background: url("../img/icon-cart.png");
	}

	&--search {
		width: 18px;
		height: 18px;
		background: url("../img/icon-search.png");
	}
}

.page-header__subheading {
	@include h2-font;
	margin-top: 164px;
	margin-bottom: 28px;
	text-align: center;
}

.page-header__heading {
	@include h1-font;
	width: 850px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

.page-header__page-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 157px;
}

.page-header__page-nav-item {
	box-sizing: border-box;
	display: block;
	width: 280px;
	padding-top: 22px;
	padding-bottom: 22px;
	border-top: 3px solid #f7eac4;
	font-size: 18px;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;

	span {
		font-size: 24px;
		font-weight: 700;
	}
}
