.photo-slider {
	padding-top: 107px;
	padding-bottom: 160px;
	background: $white;
}

.photo-slider .container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.photo-slider__arrow {
	position: absolute;
	top: 87px;
	width: 12px;
	height: 22px;
	background: url("../img/icon-arrow-left.svg") no-repeat;
	cursor: pointer;
	
	&--prev {
		left: 0;
	}

	&--next {
		right: 0;
		transform: scaleX(-1);
	}
}

.photo-slider__body {
	width: 980px;
}

.photo-slider__item {
	display: none;

	&--active {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		width: 980px;
		padding-left: 210px;
		position: relative;
	}

	&::before {
		content: "";
		box-sizing: border-box;
		position: absolute;
		width: 210px;
		height: 210px;
		left: -30px;
		top: -7px;
		border: none;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		}

	&--1::before {
		background-image: url("../img/photo-slider-img-1.png");
	}

	&--2::before {
		background-image: url("../img/photo-slider-img-2.png");
	}

	&--3::before {
		background-image: url("../img/photo-slider-img-3.png");
	}
}

.photo-slider__description {
	@include italic-reviews-font;
	margin-bottom: 14px;
}

.photo-slider__author {
	@include h4-font;
	padding-left: 70px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 60px;
		height: 3px;
		background-color: $accent;
		left: 0;
		top: 15px;
	}
}